

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9; 
  color: #333; /
}


h1 {
  color: #555; 
}


p {
  color: #666;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}


th {
  background-color: #ddd; 
  color: #555;
  padding: 8px;
}


td {
  border: 1px solid #ddd; /* серые границы */
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}



a:hover {
  color: #0056b3; 
}

td:hover {
  background-color: #f0f0f0; 
}


  