<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zmiini Novatori</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
    <div class="info">
            <img src="image.png" alt="Моё фото"class="avatar"/>
            
            <div class="info-text">
                <h1>Zmiini Novatori</h1>
                <p>Всім привіт! Це сайт-візитка команди<strong>"Зміїнні Новатори"</strong></p>
                <p>Тут ми вас познайомимо з нами, та нашими проектами</p>
                
                <h4>Наші GitHub акаунти</h4>
                    <a href="https://github.com/leonidig" target="_blank">Леонід<strong></strong></a>
                    |
                    <a href="https://github.com/Nazarbizarre" target="_blank">Назар<strong></strong></a>
                    |
                    <a href="https://github.com/Flugerops" target="_blank">Богдан<strong></strong></a>
                    |
                    <a href="https://github.com/prerreslin" target="_blank">Олександ<strong></strong></a>

            </div>
      </div>

    
    <hr>
    <div class="card bg-yellow">
        <h2>Наші Цілі</h2>
        <ol class="list">
            <li>Бути найкращою командою</li>
            <li>Написати гарний сайт (Flask; Html; Css)</li>
            <li>Вивчити Бази-Даних</li>
            <li>Апгрейдити Телеграм-Бота</li>
        </ol>
    </div>

    <hr>

    
    <div class="card bg-green">
        <h2>Команда</h2>
            <strong>
            <table class="table">
            <tr>
                <td>Ім'я</td>
                <td>Посада</td>
                <tr>
                    <td>Леонід</td>
                    <td>Тім-Лідер / Розробник</td>
                </tr>
            
            <tr>
                <td>Назар</td>
                <td>Форнт-Енд</td>
            </tr>
            
            <tr>
                <td>Богдан</td>
                <td>Бек-Енд</th>
            </tr>
            
            <tr>
                <td>Олександр</td>
                <td>Фул-Стек</th>
            </tr>
        
        </table>   
   </div> 
   <hr>
   <div class="card bg-red">
    <h2>Проекти та інше </h2>
    <table class="my-table">  
        <tr>
            <td>Мови Програмування</td>
            <td>Проекти</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>Сайт</td>
        </tr>
        <tr>
            <td>HTML</td>
            <td>Телеграм Бот</td>
        </tr>
        <tr>
            <td>CSS</td>
            
        </tr>
    </table>
</div>


    </strong>
    <hr>

    <div class="card bg-blue">
        <h2>Інше</h2>
        <ul>
            <li>
                <a href="https://goiteens.com" target="_blank">Курси GoITeens</a>
                <p>Курси завдяки яким написан цей сайт</p>
            </li>
            <br>
            <li> 
                <a href="https://drive.google.com/file/d/1DkIzF9cy3MbxX7xGkenLLYmhAz8F78n3/view?usp=sharing"target="_blank">Наш останній проект</a>
            </li>
            <br>
        
        </ul>
    </div>

    <div class="contact">
    <h2>Зв'язатися</h2>

    <form action="/">
        <div class="row">
        <div class="conection">
                <label for="name">Ваше ім'я: </label>
                <input type="text" id="name"
                placeholder="Введіть ваше ім'я...">
            </div>
            <div class="conection">
                <label for="email">Ваш Email: </label>
                <input type="email" id="email"
                placeholder="Введіть email...">
        </div>
        </div>

        <div class="conection">
            <label for="text">Ваше повідомлення: </label>
            <textarea id="text" cols="12" rows="2"></textarea>
        </div>

            <input class="btn" type="submit"
            value="Зв'язатися!">
        </form>
    </div>
    </div>
        <div style="margin-bottom: 500px;"></div>
        <hr>
    </div> 
    </body>
</html>