<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style_menu.css') }}" rel="stylesheet" >
    
    <title>Orderman-Amazing Pizza</title>
</head>

<body style="background-color:red;">
    <h1>Our Menu</h1>
    <p>This all the pizzas and drinks we make:</p>
    <table style="width:100%">
        <tr>
          <th>Dish</th>
          <th>Ingredients/overview</th>
          <th>Price</th>
        </tr>
        <tr>
          <td>Pizza Margarita(500g)</td>
          <td>tomatoes, mozzarella cheese, garlic, fresh basil, and extra-virgin olive oil</td>
          <td>$10</td>
        </tr>
        <tr>
          <td>Pizza Pepperoni(500g)</td>
          <td>tomato sauce, cheese, and pepperoni</td>
          <td>$10</td>
        </tr>
        <tr>
            <td>Pizza 4 cheese(500g)</td>
            <td>tomato sauce, mozzarella, gorgonzola, Parmigiano Reggiano, and goat cheese.</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>Water</td>
            <td>refreshing, room temperature water</td>
            <td>$1</td>
        </tr>
        <tr>
            <td>Black Tea</td>
            <td>some black tea to keep you warm</td>
            <td>$3</td>
        </tr>
        <tr>
            <td>Coca-Cola</td>
            <td>the classic, unforgetable "Coca-cola" drink</td>
            <td>$2</td>
        </tr>

      </table>
      
</body>
</html>